@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary-font: "Poppins";
  --background-color: rgb(150, 200, 150);
}

body {
  margin: 0;
  font-family: var(--primary-font);
  background-color: var(--background-color);
}

h2 {
  text-align: center;
  font-size: 3em;
  letter-spacing: 0.2em;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: normal;
  color: black;
  padding-top: 1em;
  //   .anchor {
  //     display: block;
  //     position: relative;
  //     top: -250px;
  //     visibility: hidden;
  //   }
}

// h2.anchor {
//   display: block;
//   position: relative;
//   top: -250px;
//   visibility: hidden;
// }

.navBar {
  // background: rgba(140, 140, 140, .1);
  position: fixed;
  top: 0px;
  border-bottom-right-radius: 40px;
  z-index: 999;

  .container {

    display: block;

    .logo {
      padding: 0.3em 1em;
      padding-bottom: 0;
      text-decoration: none;
      text-shadow: 0px 0px 4px white;
      font-weight: bold;
      font-size: 2em;
      color: black;

      span {
        color: green;
      }
    }

    svg {
      margin-top: 1em;
      margin-left: 1em;
      cursor: pointer;
    }

    nav {
      // display: none;

      ul {
        list-style: none;
        display: block;

        a {
          font-size: 1.5em;
          text-decoration: none;
          color: black;
          padding: 0em;

          &:hover {
            &#blue {
              text-decoration: cadetblue solid underline;
              text-decoration-thickness: 4px;
            }

            &#okra {
              text-decoration: rgb(225, 183, 83) solid underline;
              text-decoration-thickness: 4px;
            }

            text-decoration-thickness: 4px;
            text-underline-offset: 3px;
            text-underline-position: under;
          }
        }
      }
    }
  }
}

// @media only screen and (min-width: 1200px) {
//   .navBar {
//     .container {
//       display: grid;
//       grid-template-columns: 180px auto;
//       justify-content: space-between;

//       svg {
//         display: none;
//       }

//       nav ul {
//         display: flex;

//         li {
//           font-size: 1em;

//           a {
//             padding: 1em;
//           }
//         }
//       }
//     }
//   }
// }

.content {
  margin-top: 59px;

  .woodworking {
    margin: 0;

    h2 {
      font-weight: normal;
      color: black;
      padding-top: 1em;
      font-size: 2em;
    }

    .slideShow {
      display: flex;
      align-items: center;

      img {
        width: 75%;
        margin: auto;
        box-shadow: 0 0 12px black;
      }

      button {
        z-index: 0;
        padding: .1em;
        position: absolute;
        cursor: pointer;
        color: white;
        font-weight: bold;
        font-size: 2em;
        text-shadow: 0 0 8px black;
        background: transparent;
        border: transparent;

        &:hover {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }

      .left {
        left: 12.5%;
      }

      .right {
        right: 12.5%;
      }
    }

    .textArea {
      display: flex;
      justify-content: center;

      p {
        text-indent: 2em;
        font-size: 1em;
        width: 90%;
      }
    }

    @media only screen and (min-width: 480px) {
      h2 {
        font-size: 3em;
      }

      .slideShow button {
        font-size: 2.1em;
      }

      .textArea p {
        font-size: 1.1em;
        width: 80%;
      }
    }

    @media only screen and (min-width: 800px) {
      .slideShow {
        button {
          font-size: 2.2em;
        }

        img {
          width: 50%;
        }

        .left {
          left: 25%;
        }

        .right {
          right: 25%;
        }
      }

      .textArea p {
        font-size: 1.2em;
        width: 70%;
      }
    }

    @media only screen and (min-width: 1100px) {
      .slideShow button {
        font-size: 2.4em;
      }

      .textArea p {
        font-size: 1.4em;
        width: 60%;
      }
    }

  }

  .computerScience {
    .content {
      display: grid;

      .imgs {
        img {
          width: 60%;
          display: flex;
          margin-left: 20%;
          margin-top: 2em;
          box-shadow: 0 0 12px black;
        }
      }
    }

    .text {
      display: block;
      justify-content: center;
      margin-left: 15%;
      margin-right: 15%;

      p {
        font-size: 1em;

        span {
          font-weight: bold;
        }
      }
    }

    .gh {
      display: flex;
      margin: auto;
      padding-bottom: 2em;

      a {
        display: flex;

        &:hover {
          border-radius: 50%;
          border: 5px solid rgb(225, 183, 83);
          margin-top: -5px;
          margin-bottom: -5px;

          // border-bottom: 5px solid rgb(225, 183, 83);
          // padding-bottom: 3px;
          // margin-bottom: -8px;
        }
      }
    }

    @media only screen and (min-width: 480px) {

      .text p {
        font-size: 1.1em;
        padding-left: 1em;
        padding-right: 1em;
      }
    }

    @media only screen and (min-width: 800px) {
      .content {
        display: block;

        .imgs img {
          width: 30%;
          margin-left: 13%;
          display: inline-block;
        }
      }

      .text {

        p {
          font-size: 1.1em;
          padding-left: 1em;
          padding-right: 1em;
        }
      }

      a {
        display: block;
        margin: auto;
      }
    }

    @media only screen and (min-width: 1100px) {

      .text {
        margin-left: 20%;
        margin-right: 20%;

        p {
          font-size: 1.4em;
          padding-left: 2em;
          padding-right: 2em;
        }
      }
    }
  }

  .about {
    box-shadow: inset -50px -151px 50px -100px cadetblue;

    .content {
      justify-content: center;

      img {
        width: 60%;
        height: 60%;
        margin-left: 20%;
        box-shadow: 0 0 12px black;
      }

      .text {
        margin-top: 5%;
        padding-bottom: 3em;

        p {
          margin: 0;
          margin-top: 0.6em;
          padding-left: .5em;
          padding-right: .5em;
          font-size: 1em;
          text-indent: 2em;
        }
      }

      @media only screen and (min-width: 480px) {
        img {
          width: 45%;
          height: 45%;
          margin-left: 27.5%;
        }

        .text p {
          font-size: 1.1em;
          padding-left: 1em;
          padding-right: 1em;
        }
      }

      @media only screen and (min-width: 1100px) {
        display: flex;

        img {
          margin: 2em;
          margin-left: 6em;
          width: 30%;
          height: 30%;
        }

        .text {
          margin-top: 1em;

          p {
            font-size: 1.4em;
            padding-left: 2em;
            padding-right: 2em;
          }
        }
      }

    }
  }

  .contact {
    background-color: cadetblue;
    padding-bottom: 2em;
    display: grid;

    .center {
      display: flex;
      margin: auto;

      // padding-bottom: 2em;
      a {
        color: black;
        text-decoration: none;
        font-size: 1.1em;
        text-align: center;
        margin: 0;
        padding-bottom: 0.2em;

        &:hover {
          text-decoration: rgb(225, 183, 83) solid underline;
          text-decoration-thickness: 4px;
          text-underline-offset: 3px;
          text-underline-position: under;
        }
      }
    }

    @media only screen and (min-width: 480px) {
      .center a {
        font-size: 2em;
      }
    }
  }
}