@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
    --primary-font: "Poppins";
}

body {
    font-family: var(--primary-font);
    /*width: 100vw;*/
}

h1 {
    text-align: center;
    width: 100vw;
    font-size: 10vw;
    margin-bottom: 0;
}

h2 {
    font-size: 6vw;
    text-align: center;
}

h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 7vw;
}

.center, .bottom     {
    display: flex;
}

.left {
    margin-right: 2vw;
}

.left,.right {
    width: 50vw;
}

.pb {
    width: 25%;
    margin-left: 37.5%;
    background-color: white;
    font-size: 10vw;
    border: none;
    padding: 0;
}

.bottom {
    height: 10vw;
    font-size: 7vw;
    margin-left: 9vw;
}


#assist, #goal {
    margin-left: 1vw;
    font-size: 5vw;
    width: 30vw;
}

.arrow {
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: .1vw;
}

.submit {
    margin-left: 1vw;
    width: 20vw;
    font-size: 5vw;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 6vw;
}

.tableN {
    width: 10vw;
}

.tableH {
    width: 35vw;
}